<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Page Description">
    <meta name="author" content="Administrator">
    <title>Page Title</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <div class="row">
        <nav class="navbar col-md-10 col-md-offset-1 navbar-inverse " role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">tmall</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/views/user/register.html"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="/views/user/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    <li><a href="/user/logout"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3">
            <form action="/user/login" method="post" class="form-horizontal" role="form" id="loginForm">
                <div class="form-group">
                    <legend>用户登录</legend>
                </div>

                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" onclick="getJson()"> 记住我
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-2">
                        <button type="button" onclick="getJson()" class="btn btn-success btn-block">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1">
            <a class=link href=http://www.imooc.com/ >慕课网</a> | <a class=link href=http://www.baidu.com/ >百度</a> |
            <a class=link href=http://www.zhihu.com/ >知乎</a> | <a class=link href=https://github.com/ >github</a>
            <p class="text-info"> Copyright © 2017 amazingJun All Rights Reserved </p>
        </div>
    </div>
</div>

<ul id="list">
</ul>
<p id="test1">dsa</p>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script>
    function getJson() {

        var user = {
            username: $("#username").val(),
            password: $("#password").val()
        };

        $.ajax({
            url: '/user/login',
            type: 'POST',
            data: user,
            timeout: 1000,
            cache: false,
            async: false,
            beforeSend: LoadFunction, //加载执行方法
            error: errorFunction,  //错误执行方法
            success: succFunction //成功执行方法
        });

        function LoadFunction() {
            $("#list").html('加载中...');
        }

        function errorFunction() {
            alert("error");
        }

        function succFunction(data) {
            $("#list").html('');

            var jsonObj = eval("(" + data + ")");

            if (jsonObj.code!=0) {
                alert("登录失败");
            }

           /* $.each(jsonObj, function (index) {
                //循环获取数据
                var code = jsonObj[index].code;
                var data = jsonObj[index].data;
                var msg = jsonObj[index].msg;
                $("#list").html($("#list").html() + "<br>" + code + " - " + data + " - " + msg + "<br/>");
            });*/
        }
    }


</script>
</body>
</html>