<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>


    <!-- 配置数据源 -->
    <bean id="dataSource_aliyun" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close"
          p:driverClass="${remote_db.driver}"
          p:jdbcUrl="${remote_db.url}"
          p:user="${remote_db.username}"
          p:password="${remote_db.password}"
          p:testConnectionOnCheckout="${db.c3p0.testConnectionOnCheckout}"
          p:testConnectionOnCheckin="${db.c3p0.testConnectionOnCheckin}"
          p:idleConnectionTestPeriod="${db.c3p0.idleConnectionTestPeriod}"
          p:initialPoolSize="${db.initialSize}"
          p:minPoolSize="${db.minPoolSize}"
          p:maxPoolSize="${db.maxPoolSize}"
          p:maxIdleTime="${db.maxIdleTime}" />

    <bean id="dataSource_local" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close"
          p:driverClass="${local_db.driver}"
          p:jdbcUrl="${local_db.url}"
          p:user="${local_db.username}"
          p:password="${local_db.password}"
          p:testConnectionOnCheckout="${db.c3p0.testConnectionOnCheckout}"
          p:testConnectionOnCheckin="${db.c3p0.testConnectionOnCheckin}"
          p:idleConnectionTestPeriod="${db.c3p0.idleConnectionTestPeriod}"
          p:initialPoolSize="${db.initialSize}"
          p:minPoolSize="${db.minPoolSize}"
          p:maxPoolSize="${db.maxPoolSize}"
          p:maxIdleTime="${db.maxIdleTime}" />

    <!--多数据源路由控制器-->
    <bean id="dynamicDatasource" class="com.tmall.utils.dynamicDatasource.DynamicDatasourceHandle">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="dataSource_aliyun" value-ref="dataSource_aliyun"/>
                <entry key="dataSource_local" value-ref="dataSource_local"/>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="dataSource_aliyun"/>
    </bean>

    <!-- 事务管理 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dynamicDatasource"/>
        <property name="rollbackOnCommitFailure" value="true"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dynamicDatasource"/>
        <property name="mapperLocations">
            <array>
                <value>classpath:mappers/*Dao.xml</value>
            </array>
        </property>

        <!--<property name="typeAliasesPackage" value="com.tmall.entity"/>-->

        <!-- 分页插件 -->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <value>
                            dialect=mysql
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>

    <bean name="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>-->
        <property name="basePackage" value="com.tmall.dao.DBDao"/>
    </bean>

</beans>
